* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-secondary);
  font-size: 1.5rem;
  line-height: 1.42857143;
}

b {
  font-weight: bold;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: center;
}

.table-inner {
  margin: 3rem 0;
}

table {
  border: 2px solid;
  width: 845px;
}
.table {
  font-size: 1.8rem;
}
.table th,
.table td {
  border: 2px solid;
  padding: 0.3rem 1rem;
}
.table th {
  vertical-align: middle;
}
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.table .border-bottom-none {
  border-bottom: none;
}

.table .border-top-none {
  border-top: none;
}
.tr-center td {
  vertical-align: middle;
  text-align: center;
}
/* Admin Table */

.admin-table {
  font-family: "Roboto", sans-serif;
  margin: 4rem 0;
  width: 100%;
  font-size: 1.4rem;
}
.admin-table th,
.admin-table td {
  border: 2px solid #ebebed;
  padding: 0 1rem;
  height: 4.5rem;
  vertical-align: middle;
}

.admin-table th {
  background-color: #ebebed;
  border-bottom: none;
  font-weight: bold;
}

.admin-table tr:nth-child(even),
.admin-table tr:hover {
  background-color: #f9f9f9;
}
.admin-table th:not(:last-child) {
  border-right-color: #fff;
}

.admin-table td img {
  width: 3rem;
  margin-right: 0.4rem;
}

.table-data-inner {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.3rem;
}

.start-date-data .table-data-inner,
.posts-data .table-data-inner {
  justify-content: end;
}
.status-data .table-data-inner {
  justify-content: center;
}

.status-data span {
  padding: 0.4rem 0.8rem;
  display: inline-block;
  background: rgb(68 166 109 / 20%);
  border-radius: 0.4rem;
  color: #44a66d;
}

.status-data .status-data__not {
  color: #f2c94c;
  background: rgb(253 248 227);
}
